#all{
    background-size: 100% auto;
    height: 100%;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#main{
    background-size: 100% auto;
    height: 100%;
    background: #eeeff1;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    display: flex;
    width: 80%;
    height: 80%;
    background: white;
    border: 1px solid rgba(140, 138, 138, 0.25);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);

    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#myChart {
    width: 100%;
    height: 100%;
}

.options {
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 3%;
}

.option {
    /*position: fixed;*/
    height: 40px;
    margin-left: 20px;
}

#text-box {
    width: 24%;
    height: 80vh;
    border: 1px solid rgba(140, 138, 138, 0.25);
    border-radius: 10px;
    margin-left: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}

#recommend{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.recommend_item{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
}

.recommend_list_items{
    height:25vh;
    width:90%;
    overflow: auto;
}

.recommend_title{
    height: 10vh;
}

.recommend_bottom{
    height: 5vh;
    float: right;
}

#user_pic{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#user_pic_box1{
    width:30%;
    height:100%;
    display: flex;
    flex-direction: column;
}

#user_pic_box1_item1{
    width: 100%;
    height: 10vh;
    font-size: 3vh;
    font-weight: bold;
}

.user_pic_box1_item2{
    width: 100%;
    height: 30vh;
    font-size: 20px;
}

#user_pic_box2{
    width:70%;
    height:100%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

}

.user_pic_box2_item{
    width:30vh;
    height:30vh;

}

.four{
    width: 50%;
    height: 50%;
    margin-top: 2vh;
}

#person_info{
    width: 95.5%;
    height: 80vh;
    margin-left: 30px;
    text-align: center;
    display: flex;
    flex-direction: row;
}

#person_info_box1{
    width:65%;
    height:80vh;
}

#simple_person_info{
    width: 100%;
    height:10vh;
    margin-top: -2vh;
    /*border:1px solid black;*/
}

#movie_list{
    width:100%;
    height:70vh;
    margin-top: -2vh;
    display: flex;
    flex-direction: row;
}

.movie_list_item{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
}

.movie_list_items{
    height:80%;
    width:90%;
    overflow: auto;
}


#person_info_box2{
    width:35%;
    height:80vh;
    display: flex;
    flex-direction: column;
}

#person_pic{
    width: 70vh;
    height: 80vh;
}

#movie_info{
    width: 95.5%;
    height: 40vh;
    margin-left: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#movie_info_box1{
    width:100%;
    height:10vh;
}

#movie_info_box2{
    width:100%;
    height:30vh;
    display: flex;
    flex-direction: row;
}

.movie_info_item{
    flex: 1;
}

.love_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin-top: 10px;
}

#selector-box {
    justify-content: center;
}

#selector-title {
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
    overflow: visible;
}

.form {
    max-width: 400px;
    max-height: 280px;
    border: 1px;
}

#checkbox1 {
    margin-top: 10px;
    margin-right: 10px;
}

.detail-info {
    font-size: 14px;
    text-align: center;
}

.searchInput {
    width: 70%;
    margin: 0 10px 0;
}

.download-box{
    margin-top: 50px;
}

.download-box-item{
    margin-top: 20px;
}

.style-box-item{
    width: 100%;
    margin: 10px 10px 0;
}

.search-box-item{

    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;

    overflow-y: auto;
    height:500px;
    margin-top: 30px;
}

.search-form{
    margin-left: 30px;
    margin-right: 30px;
}

.el-form{
    max-height: 600px;
    overflow: auto;
}

.edit-button {
    font-size: 120%;
}

.el-button-group>.el-button {
    float: none;
    position: relative;
}

#menu-content {
    /*width: 100%;*/

}

.like-text {
    font-size: 20px;
    width: 100%;
}

.like {
    flex-wrap: wrap;
}

.heart {
    margin: 17px;
}

#chat {
    position: absolute;
    left: 120px;
    top: 89px;
}

.recommendImg{
    max-width: 80%;
    max-height: 80%;
    display: block;
    margin: auto;
}
#bottom{
    max-height: 40vh;
}

.el-menu {
    display: flex;
}

#logout {
    margin-left: auto;
}

.inside-box {
    margin-left: 10px;
    margin-right: 10px;
}

#editOpts {
    display: flex;
    flex-direction: column;
}

.view {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
}

#sidebar{
    background: #181717;
    width: 20%;
    height: 100%;
}

#system_title {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#system_title_text {
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#system_title_pic {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#movieImg {
    max-width: 50%;
    max-height: 50%;
    display: block;
    margin: auto;
}

.system_title_text_box {
    display: flex;
    flex-direction: row;
    color: #f5f5f5;
    font-size: 28px;
    font-weight: bold;
}

#system_tools {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#tools_box{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.system_tools_title{
    height: 8%;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    color: #f5f5f5;
    font-size: 20px;
    margin-top: 30px;
}

.system_tools_box{
    height: 10%;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    border-radius:10px;
}

.system_tools_box:hover
{
    background: #454444;
}

.system_tools_box_primary{
    height: 10%;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    border-radius:10px;
    background: #454444;
}

.toolsImg{
    margin-left: 20px;
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.system_tools_text_box{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f5f5f5;
    font-size: 25px;
}

.system_tools_pic{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#QA_box{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#QA_inner_box{
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mini_box{
    position: absolute;
    bottom: 1vh;
    right: 1vh;
    width: 20%;
    height: 30%;
    border: 1px solid rgba(140, 138, 138, 0.25);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    background: white;
}

#recommend_exit{
    position: absolute;
    left: 1vh;
    top:1vh;
}

.mini_button{
    position: absolute;
    bottom: 1vh;
    right: 1vh;
    background: white;
}

#chatImg{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#conImg{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

@-webkit-keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}
@keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

